.company__projects {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    @include lg {
        height: fit-content !important;
    }
    @include md {
        height: fit-content !important;
    }
    @include breakpoint (400px) {
        height: fit-content;
    }
    @include breakpoint (600px) {
        height: fit-content !important;
    }
    @include breakpoint (500px) {
        height: fit-content !important;
    }
    @include breakpoint (400px) {
        height: fit-content !important;
    }
    @include breakpoint (300px) {
        height: fit-content !important;
    }
    @include sm {
        height: 150vh;
    }
    .projects__container {
        width: 100%;
        padding: 0 50px !important;
        @include sm {
            padding: 10px !important;
        }
        .projects__text {
            display: flex;
            justify-content: space-between;
            align-items: baseline !important;
            width: 100% !important;
            @include breakpoint (400px) {
                flex-direction: column;
                align-items: flex-start;
            }
            .projects__title {
                font-weight: 400;
                font-size: 58px;
                color: #499EAA;
                @include xl {
                    font-size: 48px;
                }
                @include lg {
                    font-size: 38px;
                }
                @include md {
                    font-size: 28px;
                }
                @include sm {
                    font-size: 18px;
                }
            }

            .projects__more {
                font-weight: 400;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                    transition: all .3s ease-in-out;
                }
                a:hover {
                    color: rgb(186, 186, 186);
                }
                @include xl {
                    font-size: 24px;
                }
                @include lg {
                    font-size: 20px;
                }
                @include md {
                    font-size: 18px;
                }
                @include sm {
                    font-size: 14px;
                }
            }
        }

        .container-fluid {
            padding: 0 !important;
            margin: 0 !important;
            .row {
                .col {
                    @include breakpoint (300px) {
                        display: flex !important;
                        justify-content: center !important;
                    }
                    video {
                        width: 100% !important;
                        @include breakpoint (300px) {
                            width: 200px !important;
                        }
                        border: 2px solid #478e974f;
                        border-radius: 2px !important;
                        transition: all .3s ease-in-out !important;
                    }
                    video:hover {
                        border-color: #499EAA;
                    }
                }
            }
        }
    }
}